@use "src/styles/theme";

.wrapper {
  margin: 6rem 0;
}

.header {
  text-align: center;
}

.title {
  font-size: theme.$font-size-28;
  font-weight: 500;
}

.date {
  padding: 1rem 0 0;
}

.markdown {
  font-size: theme.$font-size-18;
  line-height: 1.8;

  h1, h2{
    display: table;
    font-size: theme.$font-size-26;
    font-weight: 600;
    margin: 3.5em 0 2em;
    border-bottom: theme.$color-lightgray dashed 3px;
  }

  h3, h4, h5, h6 {
    font-size: theme.$font-size-22;
    font-weight: 600;
    margin: 1.5em 0 .75em;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;

    > li > ul {
      list-style-type: circle;

      > li > ul {
        list-style-type: disc;
      }
    }
  }

  li::marker {
    font-size: theme.$font-size-20;
  }

  code {
    font-size: theme.$font-size-16;
  }

  p code, li code {
    background-color: theme.$color-code-background;
    font-size: theme.$font-size-14;
    border-radius: .25em;
    padding: .15em .3em;
    margin: 0 .2em;
  }

  pre {
    background-color: theme.$color-code-block-background;
    font-size: theme.$font-size-16;
    border-radius: .25em;
    padding: 1em;
    margin: 1.5em 0;
    overflow-x: auto;
  }
}


