@use "src/styles/theme";

.wrapper {
  margin: 6rem 0 0;
}

.header {
  text-align: center;
}

.title {
  font-size: theme.$font-size-28;
  font-weight: 500;
}

.date {
  padding: 1rem 0 0;
}

.markdown {
  font-size: theme.$font-size-16;
  line-height: 1.8;

  h1, h2{
    display: table;
    font-size: theme.$font-size-26;
    font-weight: 600;
    margin: 3.5em 0 2em;
    border-bottom: theme.$color-lightgray dashed 3px;
  }

  h3 {
    font-size: theme.$font-size-22;
    font-weight: 600;
    margin: 1.75em 0 1em;
  }

  h4, h5, h6 {
    font-size: theme.$font-size-18;
    font-weight: 600;
    margin: 1.5em 0 .75em;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 1.25em 0 1.5em;

    > li > ul {
      list-style-type: circle;
      margin: .5em 0 .75em;

      > li > ul {
        list-style-type: disc;
        margin: .5em 0 .75em;
      }
    }

    li::marker {
      font-size: theme.$font-size-20;
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin: 1.25em 0 1.5em;

    > li::marker {
      font-size: theme.$font-size-16;
    }
  }

  li {
    margin-top: .5em;

    &:first-child {
      margin-top: 0;
    }
  }

  a {
    color: theme.$color-primary;
    font-weight: 500;
  }

  code {
    font-size: theme.$font-size-16;
  }

  p code, li code {
    background-color: theme.$color-code-background;
    font-size: theme.$font-size-14;
    border-radius: .25em;
    padding: .15em .3em;
    margin: 0 .2em;
  }

  pre {
    background-color: theme.$color-code-block-background;
    border-radius: .25em;
    margin: 1.5em 0;
    padding: .75em;
    overflow-x: auto;
  }

  blockquote {
    background-color: lighten(theme.$color-lightblue, 15%);
    border-radius: .25em;
    font-style: italic;
    color: lighten(theme.$color-gray, 10%);
    margin: 1.5em 0;
    padding: .75em;
  }
}


