@use "sass:math";

// colors
$color-mine-shaft: #333;
$color-white: #fdfdfd;
$color-periwinkle-gray: #b5c8e2;
$color-mirage: #191f2a;
$color-carnation: #F54C5F;

// width
$container-width-sm: 520px;
$container-width-md: 720px;
$container-width-lg: 850px;

// break points
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px
);
