@use "src/styles/theme";
@use "src/styles/mixins";

.wrapper {
  padding: 10px 0;
  box-shadow: 0 2px 12px 0 rgba(#000, 0.1);
}

.innerWrapper {
  max-width: theme.$container-width-lg;
  text-align: center;
  margin: 0 auto;

  @include mixins.mq("lg"){
    width: 100%;
  };
}

.link {
  color: theme.$color-secondary;
  font-size: theme.$font-size-32;
  font-weight: bold;
  text-decoration: none;
  background: none;
}