@use "src/styles/theme";
@use "src/styles/mixins";

.wrapper {
  padding: 10px 0;
  box-shadow: 0 2px 5px -4px;
}

.innerWrapper {
  max-width: theme.$container-width-lg;
  text-align: center;
  margin: 0 auto;

  @include mixins.mq("lg"){
    width: 100%;
  };
}

.link {
  color: theme.$color-mirage;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  background: none;
}