@use "src/styles/theme";
@use "src/styles/mixins";

.header {
  padding: 1.5em 0;
  box-shadow: 0 2px 12px 0 rgba(#000, 0.1);
}

.innerWrapper {
  max-width: theme.$container-width-lg;
  text-align: center;
  margin: 0 auto;

  @include mixins.mq("lg"){
    width: 100%;
  };
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: inline-block;
  height: 30px;
}