@use "src/styles/theme";

.wrapper {
  width: 100%;
  background-color: theme.$color-secondary;
  padding: 30px 0;
}

.copyright {
  color: theme.$color-lightblue;
  text-align: center;
  font-size: theme.$font-size-14;
}